/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	font-family: 'Work Sans';
	font-size: 14px;
	background-color: #FFFEF8;
}

.body-content {
	max-width: 1140px;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
	cursor: pointer;
}

li a {
	text-decoration: none;
	color: black;
	font-weight: normal;
}

.bold {
	font-weight: 800;
}

li:hover {
	color: #B1663C;
}

li a:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
	margin-bottom: 139px;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.filtres {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
	margin: 50px 0;
}

.filtres-btn {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 60px;
	border: 1px #1d6154 solid;
	padding: 9px 15px;
	min-width: 100px;
}

.filtres-btn:hover {
	color: white;
	background-color: #1D6154;
	cursor: pointer;
}

.filtres-btn-selected {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 60px;
	border: 1px #1d6154 solid;
	padding: 9px 15px;
	min-width: 100px;
	cursor: pointer;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#logout {
	display: none;
}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/** Page login **/

.login h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 150px;
}

.formulaire {
	display: flex;
	justify-content: center;
	margin-bottom: 380px;
	margin-top: 35px;
}

.login {
	text-decoration: none;
	color: #000;
}

.connexion {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.connexion label {
	font-family: "Work Sans";
	font-weight: 500;
	color: #3d3d3d;
}

.connexion input {
	width: 379px;
	height: 51px;
	margin-top: 7px;
	margin-bottom: 30px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 15px;
}

.connexion .submit {
	width: 179px;
	height: 36px;
	background: #1d6154;
	color: #fff;
	border-radius: 60px;
	border: none;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	margin: 7px auto 28px auto;
	cursor: pointer;
}

.error {
	margin: 5px 0;
	color: red;
	font-family: "Work Sans";
	font-weight: 500;
	font-style: italic;
}

.password-oubli {
	font-family: "Work Sans";
	font-weight: 500;
	color: #3d3d3d;
	text-align: center;
}

/** edit **/

.edit-banner {
	background-color: #000;
	height: 59px;
	max-width: 1440px;
	display: none;
	align-items: center;
	justify-content: center;
}

.edit-mode {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	gap: 15px;
}

.modifier {
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 20px;
	margin-bottom: 92px;
	padding-left: 6em;
}

.modifier-encart {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 10px;
	color: #000;
	text-decoration: none;
}

.modifier a {
	text-decoration: none;
}

/** Modale **/

* {
	box-sizing: border-box;
}

.modal {
	position: fixed;
	/* prend l'entièreté de l'écran*/
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	align-items: center;
	justify-content: center;
	display: none;
}

.modal-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 10px;
	width: 630px;
	padding: 60px 105px 45px 105px;
	position: absolute;
	overflow: auto;
}

.modal-btn {
	width: 179px;
	height: 36px;
	background: #1d6154;
	color: #fff;
	border-radius: 60px;
	border: none;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal h3 {
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 40px;
}

.modal-close {
	position: relative;
	border: none;
	background-color: #fff;
	top: -35px;
	right: -280px;
	cursor: pointer;
}

.modal-line {
	width: 100%;
	background-color: #B3B3B3;
	height: 1px;
	margin: 50px 0 38px 0;
}

.modal-gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 365px;
	gap: 25px 6px;
	overflow: auto;
	align-content: flex-start;
}

.modal-gallery img {
	height: 105px;
	width: 78px;
	object-fit: cover;
}

.btn-delete {
	width: 17px;
	height: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000;
	border-radius: 2px;
	position: relative;
	top: -100px;
    left: 70%;
}

.btn-delete i {
	font-size: 11px;
}

.modal2 {
	position: fixed;
	/* prend l'entièreté de l'écran*/
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
	align-items: center;
	justify-content: center;
	display: none;
}

.modal2-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	border-radius: 10px;
	width: 630px;
	overflow: auto;
	padding: 45px 105px 45px 105px;
	position: absolute;
}

.modal2 h3 {
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 30px;
}

.modal2-close {
	position: relative;
	border: none;
	background-color: #fff;
	top: -20px;
	right: -280px;
	cursor: pointer;
}

.modal-btn2 {
	width: 179px;
	height: 36px;
	background: #A7A7A7;
	color: #fff;
	border-radius: 60px;
	border: none;
	font-family: "Syne", sans-serif;
	font-weight: 700;
	cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal2-return {
	position: relative;
	border: none;
	background-color: #fff;
	top: -32px;
	left: -280px;
	cursor: pointer;
}

.add-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	overflow: auto;
}

.add-image label {
	font-family: "Work Sans";
	font-weight: 500;
	color: #3d3d3d;
}

.add-image #title {
	width: 410px;
	height: 51px;
	margin-top: 7px;
	margin-bottom: 30px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 15px;
}

.add-image select {
	width: 410px;
	height: 51px;
	margin-top: 7px;
	margin-bottom: 30px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0 15px;
}

.add-title {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.add-category {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.modal2-line {
	width: 410px;
	background-color: #B3B3B3;
	height: 1px;
	margin: 3px 0 38px 0;
}

.add-photo {
	width: 410px;
	height: 169px;
	margin-top: 7px;
	margin-bottom: 30px;
	border: none;
	border-radius: 3px;
	background: #E8F1F6;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 7px;
}

.add-photo input {
	display: none;
}

.add-photo label {
	cursor: pointer;
	border-radius: 50px;
	background: #CBD6DC;
	padding: 10px 33px;
	color: #306685;
	font-size: 14px;
	font-weight: 500;
}

.add-photo i {
	font-size: 75px;
	color: #B9C5CC;
}

.add-photo p {
	color: #444;
	font-size: 10px;
	font-weight: 400;
}

.modal-gallery figure {
	height: 105px;
}

#preview-photo {
	display: none;
	height: 169px;
}